<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <link rel="stylesheet" href="/assets/main.min.css" media="screen" type="text/css">
  </head>

  <body>

    {% include '../partials/header.njk' %}

    {{ layoutContent | safe }}
    
    <!-- ENV: {{ metadata.env }} -->
    <!-- Last build:  {{ metadata.timestamp }} -->
  </body>
</html>
