<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <title>{{ metadata.title }}</title>

    <link rel="stylesheet" href="/assets/main.min.css" media="screen" type="text/css">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/favicon/favicon.svg">
  </head>

  <body x-data="{ ...filters(), nav: false, peopleDrawerOpen: false }">

    {% include '../partials/header.njk' %}

    {{ layoutContent | safe }}

    <script src="/assets/manifest.min.js"></script>
    <script src="/assets/vendor.min.js"></script>
    <script src="/assets/main.min.js"></script>
    
    <!-- ENV: {{ metadata.env }} -->
    <!-- Last build:  {{ metadata.timestamp }} -->
  </body>
</html>
