---
layout: default
eleventyExcludeFromCollections: true
---

{% import "./_includes/macros/trello.njk" as trello %}

<main class="flex w-full overflow-y-scroll">

  {% include './_includes/partials/nav.njk' %}

  {% for list in metadata.lists %}
  <section class="listCol">
    <header class="mb-2">
      <h1 class="font-bold text-background-darker">{{ list }}</h1>
    </header>

    {% for card in cards | cardsInList(list) %}
      {{ trello.card(card) }}
    {% endfor %}

  </section>
  {% endfor %}
</main>



