<header class="grid grid-cols-3 p-2 bg-primary text-background-lighter">
  <div class="flex items-center">
    <a
      href="#"
      class=""
      @click="nav = !nav">
      {% svgIcon 'menu', 'h-6 w-6 inline-block' %}
      <span x-text="nav ? 'Close' : 'Menu'">Menu</span>
    </a>
  </div>
  
  <h1 class="font-bold text-lg text-center">
    {{ metadata.title }}
  </h1>

  <div class="flex justify-end items-center">
    {% for member in members %}
      <a
        class="float-right ml-1 rounded-full"
        href="#"
        :class="{ 'shadow-outline': personFilter === '{{ member.id }}' }"
        @click="boardFilter = ''; personFilter = personFilter === '{{ member.id }}' ? '' : '{{ member.id }}'">
        <img src="{{ member.avatar }}" alt="{{ member.fullName }}" class="rounded-full h-6 w-6" />
      </a>
    {% endfor %}
  </div>
</header>
