<nav x-show.transisition="nav" class="listCol bg-transparent">
  <h2 class="font-bold text-background-darker mb-2">
    Board filter
  </h2>

  {% for board in boards | sort(false, false, 'name') %}
    <a
      aria-label="Filter cards by {{ board.name }}"
      href="#"
      @click="toggleBoardFilter('{{ board.id }}')"
      :class="{ 'shadow-outline': boardVisible('{{ board.id }}') }"
      class="flex items-center my-2 p-2 bg-background-lighter rounded hover:bg-background-light">
      {% svgIcon 'board', 'h-3 w-3 inline-block mr-2' %}
      {{ board.name }}
    </a>
  {% endfor %}
</nav>
